# etc
*.DS_Store

#vendor
/vendor

# dev artifacts
/devdata

# chain data
*.tsd

# test artifacts
debug.test

dist

#IDE
.idea/
*.iml
coverage.txt
.vscode

/.cache
/.release-env
/.docker-creds

/tmp-swagger-gen

# go workspaces
/go.work
/go.work.sum

/.editorconfig

dev.env

# chaink8s compiled binaries
/build/
/bin/
/ck8s-monitor
/ck8s-test
/phantom-gpu-plugin
/phantom-webhook

# backups
*.bak
*.backup

# local chain test data
/mytestnet/
